<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
  Ratings
  <hr>
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

  {% block content %} put your content here {% endblock %}



<a href="/login"><button type="" name="login">Log In</button></a>

  <form action="logout" method="POST">
  <button type="" name="logout">Log Out</button>
  </form>

</body>
</html>