<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/style.css">

<body>

  <div class="container-fluid"> Ratings</div>

  <nav class="navbar">
      
  </nav>

  <div class="container">

    <div class="row">

      {% with messages = get_flashed_messages() %}
          {% for message in messages %}
              <div class="alert alert-warning">{{ message }}</div>
          {% endfor %}
        {% endwith %}

      {% block content %} put your content here {% endblock %}

    </div>
 



    <a href="/login"><button class="btn btn-success" type="" name="login">Log In</button></a>

      <form action="/logout" method="POST">
      <button class="btn btn-danger" type="" name="logout">Log Out</button>
      </form>

 </div>

</body>
</html>